.top{
  background-color: white;
  max-width: 500px;
  width: 100vw;
  margin-top: .2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filterSearch{
  margin: .4em 0em .4em 1.2em;
}
.filterOpt{
  border: 1px solid #666;
  outline: 0;
  border-radius: 4px;
  font-size: .8em;
  font-weight: bold;
  color: #666;
  padding: 0em .5em;
}
.filterSearch #sp{
  font-family: var(--fontfam);
  font-size: .9em;
  font-weight: bold;
  color: #444;
}
.search{
  height: 50%;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  align-items: center;
}
#search{
  height: 50%;
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: .3em 0em .3em .6em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: .3em;
}
#search input{
  color: #555;
  font-weight: bold;
  font-size: 1em;
  outline: 0;
  border: 0;
  padding: .3em .6em;
  width: 100%;

}
