#Options +FollowSymLinks
#RewriteEngine on
RewriteCond %{HTTP_HOST} ^shafiqhub.com [NC]
RewriteRule ^(.*)$ https://m.shafiqhub.com/$1 [L,R=301]
#RewriteCond %{HTTP_USER_AGENT} !iphone|!android [NC]
#RewriteRule ^(.*) https://www.shafiqhub.com/$1
