#Options +FollowSymLinks
#RewriteEngine on
RewriteCond %{HTTP_HOST} ^shafiqhub.com [NC]
RewriteRule ^(.*)$ https://m.shafiqhub.com/$1 [L,R=301]


#error handling
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 400 error400.php
ErrorDocument 401 error401.php
ErrorDocument 403 error403.php
ErrorDocument 404 /error404.php
ErrorDocument 500 error500.php
